<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="_3C1O_Tester.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <_3C1O_Tester.Config>
            <setting name="AutoEsc" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Design" serializeAs="String">
                <value>Finch</value>
            </setting>
            <setting name="CurrentErrorPercentageSemi" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Ia01" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Ia02" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Ia03" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Ia04" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Ia05" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Ia06" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Ia07" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Ia08" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Ia09" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="Ia10" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Ia11" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="Ia12" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Ia13" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="Ia14" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="Ia15" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="Ia16" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Ia17" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="Ia18" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="TimeForLEDBlinkInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>3C1O-T</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value>6298</value>
            </setting>
            <setting name="ReadAfterSet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Serial1" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Serial2" serializeAs="String">
                <value>COM2</value>
            </setting>
            <setting name="Serial3" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="Serial4" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="Serial5" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>creat</value>
            </setting>
            <setting name="TimeForWaitFIRead" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="CurrentErrorValue" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CountForStandardCurrentRetry" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CurrentErrorPercentage" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CurrentErrorValueSemi" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FullCalibrationThreshold" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="A_Dev2Count" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="ErrorPercentageForStandardCurrent" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TimesForErrorCorrection" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TimeForStandardCurrentStability" serializeAs="String">
                <value>4500</value>
            </setting>
            <setting name="TimeForReadAfterWrite" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ReadLenght" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TimeForWaitFICalibration" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="SoftWareMode" serializeAs="String">
                <value>自动模式</value>
            </setting>
            <setting name="lastTest" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="lastTime" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="HardMod" serializeAs="String">
                <value>V0</value>
            </setting>
            <setting name="SerialA" serializeAs="String">
                <value>COM6</value>
            </setting>
            <setting name="SerialB" serializeAs="String">
                <value>COM7</value>
            </setting>
            <setting name="A_SpeedCurRead" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DevCur" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DevCur2" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="TimeForFive" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="TestMode" serializeAs="String">
                <value>成品模式</value>
            </setting>
        </_3C1O_Tester.Config>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
